@charset "UTF-8";
/* очищение всех отсупов и границ */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* измена подсчета ширины блока */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* убираем линии обводки в некоторых браузерах */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* делаем теги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/*уравниваем поведение шрифтов и элементов для разных браузеров и запрет самовольного увеличение шрифта (например на айфонах)*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* наследуем семейства шрифта, т.к. по умолчанию они не наследуют*/
input,
button,
textarea {
  font-family: inherit;
}

/*убираем некоторые особенности в некоторых браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*обнуляем заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.tableSectors tr, .menuWheel__item {
  padding: 8px 16px;
  transition: all 0.6s;
}

.tableSectors tr:hover, .menuWheel__item:hover, .select__item_active:hover, .select__item:hover {
  background: #eee;
  border-radius: 4px;
}

.select {
  position: relative;
}
.select__header {
  display: flex;
  height: 16px;
}
.is-active .select__body {
  display: block;
  margin-top: 8px;
}
.select__current {
  width: 100%;
  height: 100%;
}
.select__icon {
  width: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  background: no-repeat center/60% url("../img/ic_arrow_bot.png");
  justify-content: flex-end;
  flex-shrink: 0;
}
.select__body {
  position: absolute;
  left: 0;
  right: 0;
  top: -100%;
  Box-shadow: 0px 1px 0px #b2b5b6, 0px -1px 0px #b2b5b6, 1px 0px 0px #b2b5b6, -1px 0px 0px #b2b5b6;
  display: none;
  z-index: 999999;
}
.select__item_active, .select__item {
  padding: 10px 26px 10px 10px;
  background-color: white;
}
.select__item_active {
  padding: 10px 0px 10px 10px;
  display: block;
  width: 100%;
  height: 100%;
}
.select__item_active .palette::after {
  content: "";
  background: url("../img/ic_check.png") no-repeat 50% 50%/1em 1em;
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

.btnAction {
  font-weight: 700;
}

.btnMain {
  display: block;
  text-transform: uppercase;
  font-weight: 700px;
  cursor: default;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #5B5B5B;
  transition-duration: 0.5s;
  font-size: 14px;
  padding: 8px 16px;
}
.btnMain:hover {
  border-radius: 0px;
  color: #19191c;
}
.btnMain p {
  vertical-align: middle;
}
.btnMain p::before {
  content: "+";
  font-size: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

input[id^=spoiler] {
  display: none;
}
input[id^=spoiler] + label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: 700;
}
input[id^=spoiler] + label::after {
  content: "";
  background: url("../img/ic_arrow_bot.png") no-repeat 50% 50%/1em 1em;
  width: 1em;
  height: 1em;
  margin-left: 4px;
  position: absolute;
  transition: transform 0.5s;
}
input[id^=spoiler]:checked + label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
input[id^=spoiler]:checked + label + .spoiler {
  height: auto;
  display: inline-block;
}
input[id^=spoiler]:checked + label::after {
  content: "";
  background: url("../img/ic_arrow_right.png") no-repeat 50% 50%/1em 1em;
}
input[id^=spoiler] ~ .spoiler {
  height: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #b2b5b6;
  display: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.6s;
}

.palette {
  display: flex;
  height: 18px;
  direction: row;
}
.palette__color {
  flex: 1 0 auto;
  height: 100%;
}
.palette__color:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.palette__color:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.menuWheel {
  border-inline: 1px solid #85898a;
  width: 100%;
}
.menuWheel__block {
  border-bottom: 1px solid #85898a;
  padding: 10px 0px;
}
.menuWheel__block:first-child .menuWheel__item:first-child {
  padding: 0;
}
.menuWheel__block:first-child .menuWheel__item:first-child:hover {
  background-color: transparent;
}
.menuWheel__block .subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  width: 100%;
  padding: 8px 16px;
  color: #19191c;
  text-transform: uppercase;
}
.menuWheel__block:nth-child(2) label {
  margin-left: 4px;
}
.menuWheel__block:nth-child(2) .containerMaxScore {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.menuWheel__block:nth-child(2) .containerMaxScore span {
  display: inline-block;
  margin: auto 0;
}
.menuWheel__block:nth-child(2) .containerMaxScore input {
  margin-left: 8px;
  width: 50px;
  height: 100%;
  border: 1px solid #b2b5b6;
  border-radius: 4px;
  padding: 2px 2px 2px 4px;
}
.menuWheel__block:nth-child(2) .containerMaxScore input::-webkit-inner-spin-button, .menuWheel__block:nth-child(2) .containerMaxScore input::-webkit-outer-spin-button {
  opacity: 1;
}
.menuWheel__block:nth-child(2) .containerVertical {
  display: flex;
  flex-direction: column;
}
.menuWheel__block:nth-child(2) .containerVertical span {
  margin-bottom: 6px;
}
.menuWheel__block:nth-child(2) .containerHorizontal {
  display: flex;
  flex-direction: row;
}
.menuWheel__block:nth-child(2) .containerHorizontal div {
  flex: 1 0 auto;
}
.menuWheel__block:nth-child(2) .containerHorizontal span {
  margin: auto 0;
  margin-right: 6px;
}
.menuWheel__item {
  color: #19191c;
}
.menuWheel__item:first-child {
  margin-top: 0;
}
.menuWheel__item:last-child {
  margin-bottom: 0;
}

.btnSquare {
  display: table;
  width: 28px;
  height: 28px;
  text-align: center;
}
.btnSquare__content {
  display: table-cell;
  vertical-align: middle;
}
.btnSquare:hover {
  background-color: #b2b5b6;
  border-radius: 4px;
}

.coloredCircle {
  background: #ed61ca left no-repeat;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border-radius: 4px;
}

.tableSectors {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.tableSectors td {
  vertical-align: middle;
  padding: 4px 0px;
}
.tableSectors .input-sector {
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  padding: 2px 4px 2px 4px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: default;
  border: 1px solid transparent;
  border-radius: 4px;
}
.tableSectors .input-sector:hover {
  border: 1px solid #b2b5b6;
}
.tableSectors .input-sector:focus {
  border: 2px solid #e74d3b;
}
.tableSectors td:first-child {
  white-space: nowrap;
  padding-left: 16px;
  padding-right: 8px;
}
.tableSectors td:nth-child(2) {
  text-align: left;
  width: 100%;
  padding: 0;
}
.tableSectors td:nth-child(3) {
  text-align: right;
  color: #85898a;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 0;
  width: 100px;
}
.tableSectors td:nth-child(4) {
  text-align: left;
  color: #85898a;
  white-space: nowrap;
  padding-left: 0;
}
.tableSectors td:last-child {
  cursor: default;
  padding-left: 12px;
  padding-right: 6px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  font-weight: 700;
  background-color: #19191c;
  color: #b2b5b6;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #85898a;
  flex: 0 0 auto;
}
.header__title {
  font-size: 20px;
  font-weight: 600;
  color: #eee;
  word-spacing: 3px;
  font-family: "Manrope", sans-serif;
}
.header .menuHorizontal > ul {
  display: flex;
}
.header .menuHorizontal > ul > li {
  margin-right: 20px;
}
.header .menuHorizontal > ul > li:last-child {
  margin-right: 0px;
}

.content {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
}
.content__wheel {
  margin: 0px auto;
  padding: 20px 0px;
}
.content__wheel #wheelBalance {
  border: 1px solid #000;
}
.content__menu {
  display: flex;
  width: 280px;
  height: 100%;
}

footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}