@charset "UTF-8";
/* очищение всех отсупов и границ */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* измена подсчета ширины блока */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* убираем линии обводки в некоторых браузерах */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* делаем теги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/*уравниваем поведение шрифтов и элементов для разных браузеров и запрет самовольного увеличение шрифта (например на айфонах)*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* наследуем семейства шрифта, т.к. по умолчанию они не наследуют*/
input,
button,
textarea {
  font-family: inherit;
}

/*убираем некоторые особенности в некоторых браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*обнуляем заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menuHorizontal > ul {
  display: flex;
}
.menuHorizontal > ul > li {
  margin-right: 20px;
}
.menuHorizontal > ul > li:last-child {
  margin-right: 0px;
}

header {
  font-weight: 700;
  background-color: white;
  color: #19191c;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid #8d9496;
  flex: 0 0 auto;
}
header__title {
  font-size: 20px;
  font-weight: 400;
  color: white;
  word-spacing: 4px;
}
.content {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
}
.content__wheel {
  margin: auto auto;
}
.content__wheel #wheelBalance {
  border: 1px solid #000;
}
.content__menu {
  display: flex;
  width: 250px;
  height: 100%;
}

.menuWheel {
  border-inline: 1px solid #8d9496;
}
.menuWheel__block {
  padding: 16px 16px;
  border-bottom: 1px solid #8d9496;
}
.menuWheel__block .subtitle {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #19191c;
  text-transform: uppercase;
}
.menuWheel__item {
  margin: 12px 0px;
}
.menuWheel__item:first-child {
  margin-top: 0;
}
.menuWheel__item:last-child {
  margin-bottom: 0;
}

.btnAction {
  font-weight: 700;
}
.btnAction:hover {
  background-color: #bdc2c4;
}

.btnMain {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700px;
  vertical-align: middle;
  cursor: default;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #5B5B5B;
  transition-duration: 0.5s;
  font-size: 14px;
}
.btnMain:hover {
  color: #19191c;
}
.btnMain p {
  vertical-align: middle;
}
.btnMain p::before {
  content: "+";
  font-size: 14px;
  vertical-align: middle;
  margin-right: 5px;
}

.coloredCircle {
  background: #ed61ca left no-repeat;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.tableSectors {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.tableSectors td {
  vertical-align: middle;
  padding: 2px 4px 4px 2px;
}
.tableSectors .input-sector {
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  padding: 2px 4px 2px 4px;
}
.tableSectors .input-sector:hover {
  border-radius: 3px;
  Box-shadow: 0px 1px 0px #bdc2c4, 0px -1px 0px #bdc2c4, 1px 0px 0px #bdc2c4, -1px 0px 0px #bdc2c4;
}
.tableSectors .input-sector:focus {
  border-radius: 3px;
  Box-shadow: 0px 1px 0px #19191c, 0px -1px 0px #19191c, 1px 0px 0px #19191c, -1px 0px 0px #19191c;
}
.tableSectors td:first-child {
  display: block;
  text-align: center;
  margin: 5px 4px 5px 0px;
  white-space: nowrap;
}
.tableSectors td:first-child:hover {
  Box-shadow: 0px 1px 0px #bdc2c4, 0px -1px 0px #bdc2c4, 1px 0px 0px #bdc2c4, -1px 0px 0px #bdc2c4;
}
.tableSectors td:first-child:focus {
  Box-shadow: 0px 1px 0px #19191c, 0px -1px 0px #19191c, 1px 0px 0px #19191c, -1px 0px 0px #19191c;
}
.tableSectors td:nth-child(2) {
  text-align: left;
  width: 100%;
  padding: 0;
}
.tableSectors td:nth-child(3) {
  text-align: right;
  color: #8d9496;
  white-space: nowrap;
  padding-right: 0;
  width: 100px;
}
.tableSectors td:nth-child(4) {
  text-align: left;
  color: #8d9496;
  white-space: nowrap;
  padding-left: 0;
}
.tableSectors td:last-child {
  text-align: center;
  height: 16px;
  width: 16px;
  font-size: 12px;
  padding: 0px 5px;
  cursor: default;
}
.tableSectors td:last-child:hover {
  Box-shadow: 0px 1px 0px #bdc2c4, 0px -1px 0px #bdc2c4, 1px 0px 0px #bdc2c4, -1px 0px 0px #bdc2c4;
}
.tableSectors td:last-child:focus {
  Box-shadow: 0px 1px 0px #19191c, 0px -1px 0px #19191c, 1px 0px 0px #19191c, -1px 0px 0px #19191c;
  background-color: #bdc2c4;
}

footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}