@import "_nullstyle";
@import "_wheelstyle";
@import "_componentsstyle";

// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap');

// colors
$clr_black: #19191c;
$clr_grey: #eee;
$clr_greyMiddle: #b2b5b6;
$clr_greyDark: #85898a;
$clr_pinkLight: #ed61ca;
$clr_mandarin: #e74d3b;
$clr_mandarinDark: #b94d3b;
$clr_mandarinLight: #cf6957;
$clr_blue: #0c8ce9;

$clr_accent: $clr_mandarin;
$clr_components-hover: $clr_blue;

// margin
$mg_main: 10%;
$pd_components: 8px 16px;

$bd-radius: 4px;

@mixin bdInside($clr, $width) {
    Box-shadow: 0px $width 0px $clr,
        0px 0-$width 0px $clr,
        $width 0px 0px $clr,
        0-$width 0px 0px $clr;
}

@mixin bdInsideCustom($clr, $top, $right, $bot, $left) {
    Box-shadow: 0px $top 0px $clr,
        0px 0-$right 0px $clr,
        $bot 0px 0px $clr,
        0-$left 0px 0px $clr;
}

// effects
%ef_default_component {
    padding: $pd_components;
    //@include bdInside($clr_grey, 1px);
    //border-radius: $bd-radius;
    transition: all .6s;
}

%ef_hover_component {

    // padding: $pd_components;
    // transition: all .6s;
    &:hover {
        // @include bdInside($clr_greyDark, 1px);
        background: $clr_grey;
        border-radius: $bd-radius;
    }
}

%ef_active_component {
    @include bdInside($clr_accent, 2px);
    border-radius: $bd-radius;
    background: white;
}

%main_border {
    border: 1px solid #000;
    border-radius: 4px;
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    font-weight: 700;
    background-color: $clr_black;
    color: $clr_greyMiddle;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid $clr_greyDark;
    flex: 0 0 auto; // todo

    &__title {
        font-size: 20px;
        font-weight: 600;        
        color: $clr_grey;
        word-spacing: 3px;
        font-family: 'Manrope', sans-serif;
    }

    &__menu {}

    .menuHorizontal {
        >ul {
            display: flex;

            >li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

.content {
    //    margin: 50px $mg_main;
    display: flex;
    flex: 1 0 auto; // todo
    justify-content: space-between;

    &__wheel {
        margin: 0px auto;
        padding: 20px 0px;

        .canvasContainer {}

        #wheelBalance {
            border: 1px solid #000;
        }
    }

    &__menu {
        display: flex;
        width: 280px;
        height: 100%;
    }
}

.palette {
    display: flex;
    height: 18px;
    direction: row;

    &__color {
        $bd-radius: 3px;
        flex: 1 0 auto;
        height: 100%;

        &:first-child {
            border-top-left-radius: $bd-radius;
            border-bottom-left-radius: $bd-radius;
        }

        &:last-child {
            border-top-right-radius: $bd-radius;
            border-bottom-right-radius: $bd-radius;
        }
    }
}

.select {
    position: relative;

    &__header {
        display: flex;
        height: 16px;
    }

    .is-active &__body {
        display: block;
        margin-top: 8px;
    }

    &__current {
        width: 100%;
        height: 100%;
        // padding: 4px 0px 4px 4px;
        //border: 1px solid #000;
    }

    &__icon {
        width: 22px;
        //padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
        background: no-repeat center/60% url("../img/ic_arrow_bot.png");
        justify-content: flex-end;
        flex-shrink: 0;
        //color: $clr_black;
        //border-left: 1px solid $clr_greyMiddle;
    }

    &__body {
        position: absolute;
        left: 0;
        right: 0;
        //top: 100%;
        top: -100%; // поверх блока
        @include bdInside($clr_greyMiddle, 1px);
        // border-top: 0;
        display: none; // невидим по умолчанию
        z-index: 999999;
    }

    &__item_active,
    &__item {
        padding: 10px 10px+16px 10px 10px;
        background-color: white;
        @extend %ef_hover_component;
    }

    &__item_active {
        padding: 10px 0px 10px 10px;
        display: block;
        width: 100%;
        height: 100%;

        .palette::after {
            content: "";
            background: url("../img/ic_check.png") no-repeat 50% 50% / 1em 1em;
            width: 16px;
            height: 16px;
            margin: 0 5px;
            // border: 1px solid #000;
        }
    }
}

.menuWheel {
    border-inline: 1px solid $clr_greyDark;
    width: 100%;

    &__block {
        border-bottom: 1px solid $clr_greyDark;
        padding: 10px 0px;

        &:first-child {            
            .menuWheel__item {                
                &:first-child {
                    //border: 4px solid #000;
                    padding: 0;
                    
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
        }

        .subtitle {
            font-family: 'Manrope', sans-serif;
            font-weight: 800;
            width: 100%;
            padding: $pd_components;
            color: $clr_black;
            text-transform: uppercase;
        }

        // block of parameters
        &:nth-child(2) {
            label {
                margin-left: 4px;
            }

            .containerMaxScore {
                display: flex;
                flex-direction: row;
                width: 100%;
                // justify-content: space-between;

                span {
                    display: inline-block;
                    margin: auto 0;
                }

                input {
                    margin-left: 8px;
                    width: 50px;
                    height: 100%;
                    border: 1px solid $clr_greyMiddle;
                    border-radius: $bd-radius;
                    padding: 2px 2px 2px 4px;

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        opacity: 1; // отображаем стрелки
                    }
                }
            }

            .containerVertical {
                display: flex;
                flex-direction: column; // todo

                span {
                    margin-bottom: 6px;
                }
            }

            .containerHorizontal {
                // width: 100%;
                display: flex;
                flex-direction: row; // todo 
                // flex-wrap: nowrap;             

                div {
                    flex: 1 0 auto;
                }

                span {
                    // display: inline-block;
                    margin: auto 0;
                    margin-right: 6px;
                }
            }
        }
    }


    &__item {
        @extend %ef_default_component;
        @extend %ef_hover_component;
        color: $clr_black;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.btnAction {
    font-weight: 700;
}

.btnSquare {
    display: table;
    width: 28px;
    height: 28px;
    text-align: center;

    &__content {
        display: table-cell;
        vertical-align: middle;
    }

    &:hover {
        background-color: $clr_greyMiddle;
        border-radius: $bd-radius;
    }
}

.btnMain {
    display: block;
    text-transform: uppercase;
    font-weight: 700px;  
    cursor: default;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: #5B5B5B;
    transition-duration: 0.5s;
    font-size: 14px;
    padding: $pd_components;
    

    &:hover {
        //background-color: $clr_greyMiddle;
        //@include bdInside($clr_greyMiddle, 1px); 
        border-radius: 0px;      
        color: $clr_black;
    }

    p {
        vertical-align: middle;

        &::before {
            content: "+";
            font-size: 18px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}

.coloredCircle {
    background: $clr_pinkLight left no-repeat;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border-radius: $bd-radius;
}

.tableSectors {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;

    tr {
        @extend %ef_default_component;
        @extend %ef_hover_component;
        // обводка строки
        // &:hover {
        //     @include bdInside($clr_greyMiddle, 1px);
        //     td{

        //         &:first-child{
        //             border-left: 1px solid $clr_greyMiddle;

        //         }
        //         &:last-child{
        //             border-right: 1px solid $clr_greyMiddle;
        //         }
        //     }
        // }
    }

    td {
        // border-left: 1px solid transparent;
        // border-right: 1px solid transparent;
        vertical-align: middle;
        padding: 4px 0px;
        //padding: 2px 4px 4px 2px;
        //border: 1px solid #000;
    }

    .input-sector {
        font-size: 14px;
        width: 100%;
        text-overflow: ellipsis;
        //padding: 1px 3px; // todo
        padding: 2px 4px 2px 4px;
        padding: 4px 8px;
        background-color: transparent;
        cursor: default;
        border: 1px solid transparent;
        border-radius: $bd-radius;

        // font-family: 'Manrope', sans-serif;
        &:hover {
            // background-color: $clr_greyMiddle;        
            // border-radius: $bd-radius;  
            border: 1px solid $clr_greyMiddle;
            // @include bdInside($clr_black, 1px);
        }

        &:focus {
            //border-radius: 3px;
            //@include bdInside($clr_black, 1px);

            border: 2px solid $clr_accent
        }
    }

    // color
    td:first-child {
        //padding: 5px 4px 5px 0px;
        white-space: nowrap;
        padding-left: 16px;
        padding-right: 8px;
    }

    // name
    td:nth-child(2) {
        text-align: left;
        width: 100%;
        padding: 0;
    }

    //score
    td:nth-child(3) {
        text-align: right;
        color: $clr_greyDark;
        white-space: nowrap;
        padding-left: 8px;
        padding-right: 0;
        width: 100px;
    }

    // max score
    td:nth-child(4) {
        text-align: left;
        color: $clr_greyDark;
        white-space: nowrap;
        padding-left: 0;
    }

    // btn delete
    td:last-child {
        cursor: default;
        padding-left: 12px;
        padding-right: 6px;
    }
}

footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}


input[id^="spoiler"] {
    display: none; // скрываем чекбокс    

    &+label {
        // заголовок 
        // @extend %ef_default_component; 
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-weight: 700;

        &::after {
            content: "";
            background: url("../img/ic_arrow_bot.png") no-repeat 50% 50% / 1em 1em;
            width: 1em;
            height: 1em;
            margin-left: 4px;
            position: absolute;
            transition: transform .5s;
        }
    }

    &:checked+label {
        // открытый спойлер        
        // @extend %ef_active_component;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &+.spoiler {
            // контент спойлера
            height: auto;
            display: inline-block; // скрываем чекбокс           
        }

        &::after {
            content: "";
            background: url("../img/ic_arrow_right.png") no-repeat 50% 50% / 1em 1em;
        }
    }

    &~.spoiler {
        height: 0;
        width: 100%;
        overflow: hidden;
        //opacity: 0; 
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $clr_greyMiddle;
        display: none; // скрываем       
        // @extend %ef_active_component;          
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        transition: all .6s;
    }
}