@import "_nullstyle";
@import "_valuesstyle"; // миксины, цвета, шрифты
@import "_componentsstyle"; // кастомные компоненты
@import "_wheelstyle"; // интерфейс меню колеса


* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    font-weight: 700;
    background-color: $clr_black;
    color: $clr_greyMiddle;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid $clr_greyDark;
    flex: 0 0 auto; // todo

    &__title {
        font-size: 20px;
        font-weight: 600;        
        color: $clr_grey;
        word-spacing: 3px;
        font-family: 'Manrope', sans-serif;
    }

    &__menu {}

    .menuHorizontal {
        >ul {
            display: flex;

            >li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

.content {
    //    margin: 50px $mg_main;
    display: flex;
    flex: 1 0 auto; // todo
    justify-content: space-between;

    &__wheel {
        margin: 0px auto;
        padding: 20px 0px;

        .canvasContainer {}

        #wheelBalance {
            border: 1px solid #000;
        }
    }

    &__menu {
        display: flex;
        width: 280px;
        height: 100%;
    }
}

footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}